::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  color: rgb(16, 16, 16);
}

/* Universal styling */
body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  height: auto;
  background-image: url("../images/test-bg.jpg");
  background-size: cover;
}

/* Container for the clock element */
.clock-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border: 1px solid yellow;
  border-radius: 50px;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}

/* Clock h3 container */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 2rem;
  font-size: 1.1rem;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* Main container for all elements */
.dashboard-container {
  width: 30rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-headline {
  font-size: 3rem;
  margin: 3rem 0 1.5rem 0;
}

.my-dashboard {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Conatiner for the 4 dash elements */
.dash-element {
  border: 1px solid cyan;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-radius: 20px;
  display: flex;
  margin-top: 1.6rem;
  height: 28rem;
  width: 22rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}

/* Font styling dash headlines */
.dash-element-headline-1,
.dash-element-headline-2,
.dash-element-headline-3,
.dash-element-headline-4 {
  margin-bottom: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* Button for the quicklinks element */
.dash-element-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 9rem;
  height: 2.6rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}

/* Container for the background button */
.bg-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Styling for background button */
.bg-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  width: 22rem;
  height: 3.2rem;
  margin: 4rem 0 1.5rem 0;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}
