::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  color: rgb(16, 16, 16);
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  height: 100vh;
  background-image: url("../images/test-bg.jpg");
  background-size: cover;
}

.clock-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border: 1px solid yellow;
  border-radius: 50px;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 2rem;
  font-size: 1.1rem;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.dashboard-container {
  width: 30rem;
  height: 50rem;
  /* max-width: 1000px; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-headline {
  font-size: 3rem;
  margin: 3rem 0 1.5rem 0;
}

.my-dashboard {
  border: 1px solid green;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash-element {
  border: 1px solid cyan;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-radius: 20px;
  display: flex;
  margin-top: 1.6rem;
  height: 28rem;
  width: 22rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}

.dash-element-headline-1,
.dash-element-headline-2,
.dash-element-headline-3,
.dash-element-headline-4 {
  margin-bottom: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.dash-element-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}

.bg-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bg-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  width: 22rem;
  height: 3.2rem;
  margin: 4rem 0 1.5rem 0;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0.3)
  );
  backdrop-filter: blur(10px);
}
