body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/test-bg.jpg');
    background-size: cover;
}

.clock-date-container {
    height: 25px;
    width: 280px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.8rem;
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3));
    backdrop-filter: blur(10px);
}

.clock-date {
    display: flex;
    align-self: center;
}

.dashboard-container {
    width: 1600px;
    height: 1000px;
    max-width: 1600px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-headline {
    font-size: 3.4rem;
    margin: 8rem 0 2rem 0;
}

.my-dashboard {
    border: 1px solid green;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
}

.dash-element {
    border: 1px solid cyan;
    border-radius: 20px;
    display: flex;
    margin: 0 10px;
    height: 450px;
    width: 600px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3));
    backdrop-filter: blur(10px);
}

.dash-element-headline-1 {
    margin-bottom: auto;
}

.dash-element-btn {
    width: 140px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3));
    backdrop-filter: blur(10px);
}

.bg-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bg-btn {
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin-top: 240px;
    border: none;
    cursor: pointer;
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3));
    backdrop-filter: blur(10px);
}